<template>
  <default-layout>
    <section slot="content">
      <v-jumbotron>
        <v-container fill-height>
          <v-layout align-center>
            <v-flex>
              <h3 class="display-3">Welcome to the site</h3>
              <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>
              <v-divider class="my-3"></v-divider>
              <div class="title mb-3">Check out our newest features!</div>
              <v-btn large color="primary" class="mx-0">See more</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-jumbotron>
    </section>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'
export default {
  name: 'HelloWorldView',
  components: {DefaultLayout}
}
</script>
