<template>
  <default-layout>
    <section slot="content">
      <div class="hello">
      <h1>{{msg}}</h1>
      </div>
    </section>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'
export default {
  name: 'HelloView',
  data () {
    return {
      msg: 'Shared Secret'
    }
  },
  components: {DefaultLayout}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
