<template>
<default-layout>
  <section slot="content">
    <v-data-table
      :headers="headers"
      :items="pokemones"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.weight }}</td>
        <td class="text-xs-right">{{ props.item.number }}</td>
        <td class="text-xs-right">{{ props.item.height }}</td>
      </template>
    </v-data-table>
  </section>
</default-layout>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'
import {getPokemon} from '@/services/pokemon'
export default {
  name: 'ProductosView',
  components: {DefaultLayout},
  data () {
    return {
      headers: [
        { text: 'Nombre', value: 'name', align: 'left',sortable: false },
        { text: 'Peso', value: 'weight' },
        { text: 'Numero', value: 'number' },
        { text: 'Altura', value: 'height' }
      ],
      pokemones: []
    }
  },
  created () {
    getPokemon().then(response => {
      this.pokemones = response.data
    }).catch(err => console.error(err))
  }
}
</script>
