<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" fixed clipped app>
      <v-list dense>
        <v-list-tile v-for="(item, index) in items" :key="index" :to="item.path">
          <v-list-tile-action>
            <v-icon :color="item.color" >{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed clipped-left app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{title}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex shrink>
            <slot name='content'></slot>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="body-2 white--text" style="padding-left: 10px;">Cliente Web VUE - 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data: () => ({
    drawer: true,
    title: 'My First App Vue',
    items: [
      {title: 'Home', icon: 'home', color: 'grey darken-2', path: '/'},
      {title: 'Hello', icon: 'cake', color: 'grey darken-2', path: '/hello'},
      {title: 'Productos', icon: 'dashboard', color: 'grey darken-2', path: '/productos'}
    ]
  }),
  props: {
    source: String
  }
}
</script>
